<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savequiz</servlet-name>
        <servlet-class>savequiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addquestion</servlet-name>
        <servlet-class>addquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletequiz</servlet-name>
        <servlet-class>deletequiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultverification</servlet-name>
        <servlet-class>resultverification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepassword</servlet-name>
        <servlet-class>updatepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepassword1</servlet-name>
        <servlet-class>updatepassword1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savequiz</servlet-name>
        <url-pattern>/savequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addquestion</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletequiz</servlet-name>
        <url-pattern>/deletequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultverification</servlet-name>
        <url-pattern>/resultverification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepassword</servlet-name>
        <url-pattern>/updatepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepassword1</servlet-name>
        <url-pattern>/updatepassword1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
